.wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-blend-mode: screen;

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}