/* Imports */
@import "_config.scss";

/* Defaults */

*, *:before, *:after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
  background-color: $color-white;
}
